.toolbar {
  margin-bottom: 30px;
}

.content {
  padding-top: 15px !important;
}

.log_flx {
  -webkit-column-gap: 0px;
          column-gap: 0px;
  width: 60%;
  margin: 0px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.log_flx .log_form {
  width: 50%;
  padding-bottom: 45px;
  height: 510px;
}

.log_flx .log_img {
  width: 50%;
  height: 510px;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.log_flx .log_img img {
  width: 300px;
}

.log_flx .log_text_heading .head_txt {
  padding: 15px 30px;
  font-size: 28px;
  font-weight: 600;
  background: #1472d0;
  color: #fff !important;
}

.log_flx .form_grouping {
  padding: 0px 30px 30px;
}

.log_flx .log_icons {
  position: absolute;
  right: 0px;
  top: calc(50% - 3px);
  height: 34px;
  padding: 15px;
  background: #50505024;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
}
}

.log_flx .log_icons i {
  font-size: 15px;
  color: #1472d0;
}

.log_flx .form_group {
  position: relative;
  /* padding-left: 30px; */
}

.log_flx .form_group .form_input {
  padding-left: 15px;
  height: 34px;
  border-radius: 3px;
}

.log_flx .fg_pw a {
  color: #505050;
  text-align: right;
  display: block;
}

.log_flx .log_btn {
  width: 100%;
  background-color: #03c75e !important;
  color: #fff !important;
  padding: 8px !important;
  /* border: 1px solid #03c75e !important; */
}

.log_flx .log_btn:hover {
  background-color: #078f46 !important;
  /* color: #03c75e !important; */
}

.log_flx .reg_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.log_flx .reg_group .reg_txt {
  margin: 0px;
  font-weight: 400;
}

.log_flx .sign_btn_btn button {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #03c75e;
  margin-top: 0px;
}

.log_flx .sign_btn_btn button:hover {
  color: #1472d0;
}

.sign_flx {
  -webkit-column-gap: 0px;
          column-gap: 0px;
  width: 80%;
  margin: 0px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.sign_flx .card-body {
  padding-bottom: 0px !important;
}

.sign_flx .log_txt_redirect {
  text-align: center;
}

.sign_flx .log_txt_redirect p {
  margin: 0px;
  font-weight: 400;
}

.sign_flx .log_txt_redirect p a {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #03c75e;
  margin-top: 0px;
}

.sign_flx .log_txt_redirect p a:hover {
  color: #1472d0;
}

.sign_flx .sign_img {
  width: 40%;
  height: 99%;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign_flx .sign_img img {
  width: 300px;
}

.sign_flx .sign_form {
  width: 60%;
  height: 99%;
}

.sign_flx .sign_text_heading {
  padding: 0px;
  display: block;
}

.sign_flx .sign_text_heading .card-title {
  display: block;
}

.sign_flx .sign_text_heading .card-title .head_txt {
  padding: 15px 30px;
  font-size: 28px;
  font-weight: 600;
  background: #1472d0;
  color: #fff !important;
  text-align: center;
}

.sign_flx .compulsory {
  color: red;
}

.sign_flx .captcha {
  margin-top: 15px;
  background: #ffa078;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-top: 5px;
}

.sign_flx .captcha .btn-refresh {
  position: absolute;
  right: 0px;
  top: 0px;
  background: #03c75e;
  color: #fff;
  height: 35px;
  padding: 0px !important;
  width: 45px;
  border-radius: 0px;
}

.sign_flx .reg_btn {
  width: 100%;
  background-color: #03c75e;
  color: #fff !important;
  padding: 10px;
  border: none;
  margin-top: 15px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
}

.sign_flx .reg_btn:hover {
  background-color: #078f46 !important;
}

.tab_navbar {
  padding: 0px;
}

.tab_navbar .navbar-nav .active {
  background: #03c75e;
  border-radius: 0px;
}

.tab_navbar .navbar-nav li {
  margin: 0px;
  border: none;
  border-radius: 0px;
}

.tab_navbar .navbar-nav li a {
  border: none;
  padding: 14px 20px !important;
  font-size: 16px;
}

.custom_form {
  padding: 30px;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.custom_form label {
  font-weight: 600 !important;
  color: #505050;
  border-left: 4px solid #08c;
  padding-left: 7px;
}

.custom_form .form_input {
  height: 32px;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #fff !important;
  margin-bottom: 8px;
  border-radius: 3px;
}

.form_tab_bk {
  padding: 90px 45px 45px;
  position: relative;
  margin-top: 100px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.form_tab_bk .txt_center {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form_tab_bk .txt_center .head_text {
  position: absolute;
  top: -43px;
  z-index: 9999;
}

.form_tab_bk .txt_center .head_text .head_side_design {
  position: relative;
}

.form_tab_bk .txt_center .head_text .head_side_design:before {
  content: "";
  position: absolute;
  left: -40px;
  bottom: -4px;
  border: 25px solid #03c75e;
  border-left-color: transparent;
  /* border-bottom-color: transparent; */
  /* border-right-color: transparent; */
  /* border-top-color: transparent; */
  z-index: -11;
}

.form_tab_bk .txt_center .head_text .head_side_design:after {
  content: "";
  position: absolute;
  right: -40px;
  bottom: -4px;
  border: 25px solid #03c75e;
  /* border-bottom-color: transparent; */
  border-right-color: transparent;
  /* border-top-color: transparent; */
  z-index: -11;
}

.form_tab_bk .txt_center .head_text h1 {
  position: relative;
  display: inline-block;
  background: #03c75e;
  padding: 15px 30px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.form_tab_bk .txt_center .head_text h1:before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -10px;
  border: 10px solid #0000006b;
  border-left-color: transparent;
  border-bottom-color: transparent;
  /* border-right-color: transparent; */
  border-top-color: transparent;
  z-index: -1;
}

.form_tab_bk .txt_center .head_text h1:after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: -10px;
  border: 10px solid #0000006b;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  z-index: -1;
}

.form_tab_bk label {
  font-weight: 600 !important;
  color: #505050;
  border-left: 4px solid #08c;
  padding-left: 7px;
}

.form_tab_bk .form_input {
  height: 45px;
  font-size: 16px;
  border: 1px solid #ddd;
  background-color: #fff !important;
  border-radius: 3px;
}

.form_tab_bk .form-select {
  height: 45px;
  font-size: 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
}

.form_tab_bk .form_btn {
  margin-top: 30px;
}

.form_tab_bk .form_btn button {
  background-color: #1472d0;
  /* background-color: #03c75e !important; */
  color: #fff;
  border: none;
  font-weight: 600;
  border-radius: 3px;
  font-size: 14px;
  padding: 0px 20px;
  line-height: 1;
  height: 37px;
}

.form_tab_bk .span_custom {
  border-bottom: 1px solid;
  display: block;
  border-left: 10px solid #03c75e;
  background: #08c;
  padding: 8px;
  font-size: 18px;
  color: #fff;
  padding-left: 15px !important;
  font-weight: 600;
  margin-bottom: 15px;
}

.content_box .prev_btn {
  background-color: #03c75e;
  color: #fff;
  border: none;
  padding: 8px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  margin-top: 30px;
}

.dash_card:nth-child(2) .dash_ct_flx {
  background-color: #03c75e;
}

.dash_card:nth-child(2) .right_icons {
  color: #03c75e;
}

.doc_form .txt_center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.doc_form .txt_center .head_text {
  z-index: 9999;
}

.doc_form .txt_center .head_text .head_side_design {
  position: relative;
}

.doc_form .txt_center .head_text .head_side_design:before {
  content: "";
  position: absolute;
  left: -40px;
  bottom: -4px;
  border: 25px solid #03c75e;
  border-left-color: transparent;
  /* border-bottom-color: transparent; */
  /* border-right-color: transparent; */
  /* border-top-color: transparent; */
  z-index: -11;
}

.doc_form .txt_center .head_text .head_side_design:after {
  content: "";
  position: absolute;
  right: -40px;
  bottom: -4px;
  border: 25px solid #03c75e;
  /* border-bottom-color: transparent; */
  border-right-color: transparent;
  /* border-top-color: transparent; */
  z-index: -11;
}

.doc_form .txt_center .head_text h1 {
  position: relative;
  display: inline-block;
  background: #03c75e;
  padding: 15px 30px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.doc_form .txt_center .head_text h1:before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -10px;
  border: 10px solid #0000006b;
  border-left-color: transparent;
  border-bottom-color: transparent;
  /* border-right-color: transparent; */
  border-top-color: transparent;
  z-index: -1;
}

.doc_form .txt_center .head_text h1:after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: -10px;
  border: 10px solid #0000006b;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  z-index: -1;
}

.doc_form .row_style {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2) !important;
  padding: 15px;
  margin-bottom: 15px;
}

.btn_flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.btn_flx button {
  background-color: #03c75e !important;
  color: #fff;
  border: none;
  font-weight: 600;
  border-radius: 3px;
  font-size: 14px;
  padding: 0px 20px;
  line-height: 1;
  height: 37px;
}

.btn_flx button:nth-child(even) {
  background-color: #1472d0 !important;
}
/*# sourceMappingURL=main.css.map */